html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(73, 73, 73);
}
h1 {
    color: white;
    text-align: center;
    font-family: "Lexend Exa";
    font-size: xx-large;
    margin-left: .5em;
    
}
canvas {
    background-color: rgb(4, 126, 39);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#buttons {
    text-align: center;
}
#startBtn, #playAgain {
    margin-top: 1em;
    margin-left: 100px;
    margin-right: 90px;
    display: inline-block;
    display: center;
    font-family: "Lexend Exa";
    border-radius: 50px;
    border-style: none;
}